</section>
</main>
<footer>

    <section class="footer">
    <p>Copyright &copy; <%= new Date().getFullYear(); %> </p>
    <div>
        <ul>
            <li>Privacy policy</li>
            <li>Sitemaps</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
</section>

</footer>

</body>
</html>