<%- include("../partials/header.ejs"); %>

<h1>About Us</h1>
<div class="abt-img">
  <img src="/images/image.png" alt="" width="400px" />
</div>
<p><%= mainContent %></p>
<div class="abt-img">
    <img src="/images/image.png" alt="" width="400px" />
  </div>
  <p><%= mainContent %></p>

<%- include("../partials/footer.ejs"); %>