<%- include("../partials/header.ejs"); %>

<h1>Contact Us</h1>

<div class="visme_d" data-title="Simple Newsletter Subscription" data-url="8r6m9v4v-simple-newsletter-subscription" data-domain="forms" data-full-page="false" data-min-height="600px" data-form-id="70366" style="margin-bottom: 2rem;"></div><script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>

<p><%= mainContent %></p>

<%- include("../partials/footer.ejs"); %>