     <!-- navbar -->
     <%- include("../partials/header.ejs"); %>

     <h1><%= post.title %></h1>

     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis repellendus magni quae corrupti aperiam dicta perferendis asperiores ab molestiae est, obcaecati iste nulla sapiente doloremque tempora veniam id. Quaerat doloremque voluptatem suscipit quo perferendis aperiam. Aspernatur tempora debitis ex itaque facilis in consectetur ullam. Quasi aut natus laborum et accusamus numquam dicta? Quis ducimus soluta fugit quod voluptatum sequi recusandae temporibus dolorum mollitia nulla! Optio suscipit tempore sit quam ipsam fuga animi id maxime sapiente tenetur odit error, vero praesentium quidem molestias adipisci dolorum nulla veritatis. Illo aliquam tenetur quibusdam vitae odio sit, iure nihil minima quis perferendis quaerat numquam doloremque quae. Odio dolorem fugit voluptatum exercitationem, voluptas debitis quae voluptate earum? Id tempore deserunt quas amet natus dicta assumenda facilis. Optio nihil voluptas voluptatibus nostrum error ut deleniti rem beatae ea, adipisci hic perferendis dolore, unde ab sapiente vitae saepe dolores ad fugit totam veritatis officiis quas aspernatur veniam! Error, sit? Necessitatibus rerum sit dignissimos pariatur, architecto eum iste. Quam ipsa quidem ipsum quisquam rerum quasi itaque dolore, corporis voluptas quaerat fuga sequi magnam minus fugiat deserunt odit soluta distinctio consequuntur sint, dolorum sapiente. Accusantium adipisci et iusto, ipsam dolores sint unde velit rem libero aliquid. Facilis, ipsam soluta.</p>
 
 
     <!-- footer -->
     <%- include("../partials/footer.ejs"); %>