<%- include("../partials/header.ejs"); %>

<h1>Our Services</h1>
<div class="ser-img">
    <img src="/images/image.png" alt="" width="250px">
    <img src="/images/image.png" alt="" width="250px">
    <img src="/images/image.png" alt="" width="250px">
    <img src="/images/image.png" alt="" width="250px">
    <img src="/images/image.png" alt="" width="250px">
    <img src="/images/image.png" alt="" width="250px">
    <img src="/images/image.png" alt="" width="250px">
    <img src="/images/image.png" alt="" width="250px">
</div>
<br><br>
<br><br>
<p><%= mainContent %></p>
<br><br>
<p><%= mainContent %></p>

<%- include("../partials/footer.ejs"); %>